<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Chat Doctor Pacient</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<noscript>
  <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>


<div id="username-page">
  <div class="username-page-container">
    <div class="chat-logs"></div>
    <h1 class="title">Introduceti email-ul dumneavoastra</h1>
    <form id="usernameForm" name="usernameForm">
      <div class="form-group">
        <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />
      </div>
      <div class="form-group">
        <button type="submit" class="accent username-submit">Vorbeste cu doctorul</button>
      </div>
    </form>
  </div>
</div>


<div id="chat-page" class = 'hidden'>
  <div class="chat-container">
    <div class="chat-header">
      <h2>Chat Doctor Pacient</h2>
    </div>
    <div class="connecting">
      Connecting...
    </div>
    <ul id="messageArea">

    </ul>
    <form id="messageForm" name="messageForm" nameForm="messageForm">
      <div class="form-group">
        <div class="input-group clearfix">
          <input type="text" id="message" placeholder="Scrieti un mesaj..." autocomplete="off" class="form-control"/>
          <button id="send" type="submit" class="primary">Trimite</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/main.js" ></script>
</body>
</html>