<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista programari</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>Lista programari</h3>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>Data</th>
            <th>Ora</th>
            <th>Prenume pacient</th>
            <th>Nume pacient</th>
            <th>Prenume doctor</th>
            <th>Nume doctor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment: ${appointments}">
            <td th:text="${appointment.date}" />
            <td th:text="${appointment.time}" />
            <td th:text="${appointment.pacientFirstName}" />
            <td th:text="${appointment.pacientLastName}" />
            <td th:text="${appointment.docFirstName}" />
            <td th:text="${appointment.docLastName}" />
        </tr>
        </tbody>

    </table>
</div>


</body>

</html>